<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_To_External.Properties.Settings.IN700001_201601_DEWAHM1ConnectionString"
            connectionString="Data Source=bitdev.ict.op.ac.nz;Initial Catalog=IN700001_201601_DEWAHM1;User ID=DEWAHM1;Password=HDe_6022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>