body {
    padding: 15px;
	margin
}


.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
	margin: auto;
	width: 60%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.page-header ul 
{
	list-style-type: none;
    margin: 0;
    padding: 0;	
	width: 60%;
	
}

.page-header li {
    display: inline;
	color: #000000;
	
	margin-right: 20px;
	width: 60%;
}


.content-container  {
	margin: auto;
    width: 60%;
}

h1, h2, h3, h4 {
    font-family: 'Book Antiqua';
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 100px;
	margin: auto;
	width: 100%;	
}


.post h1 a, .post h1 a:visited {

    color: #000000;
    font-size: 36pt;
}

.col-md-8{
	margin: auto;
	width: 100%;	
}

